# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^images/(.*)_([0-9]+)_([0-9]+)_([0-9]+)\.(jpg|jpeg|png|gif)$ img.php?src=http://localhost:8888/prototest/wp-content/$1.$5&w=$2&h=$3&zc=$4
RewriteBase /prototest/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /prototest/index.php [L]
</IfModule>
# END WordPress
