<IfModule mod_rewrite.c>

RewriteEngine On

RewriteRule ^images/(.*)_([0-9]+)_([0-9]+)_([0-9]+)\.(jpg|jpeg|png|gif)$ img.php?src=http://prototest.jbit.es/wp-content/uploads/$1.$5&w=$2&h=$3&zc=$4 [NC,L]

RewriteBase /
RewriteRule ^index\.php$ - [L]

RewriteRule ^theme/(.*)		/wp-content/themes/go3/$1 [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]

</IfModule>
