main {
	background: none;
}
.epg-live-link {
	display:block;
	width:175px;
	height:36px;
	opacity:0;
	position:absolute;
	top:15px;
	left:655px;
}
.epg-full-link {
	display: block;
    width: 101px;
    height: 38px;
    background: #FFF;
    opacity:0;
    top: 13px;
    left: 0px;
}
.section-seasons-selection {
	position:relative;
}
.series-play-link {
	display: block;
    width: 232px;
    height: 35px;
    opacity: 0.3;
    position: absolute;
    top: 471px;
    left: 842px;
}