main {
	background: none;
}
.epg-live-link {
	display:block;
	width:151px;
	height:36px;
	opacity:0;
	position:absolute;
	top:15px;
	left:130px;
}
.epg-full-link {
	display: block;
    width: 101px;
    height: 38px;
    background: #FFF;
    opacity:0;
    top: 13px;
    left: 0px;
}
.section-seasons-selection {
	position:relative;
}
.section-seasons-selection-box {
	position:relative;
	width:960px;
	margin: 0 auto;
}
.series-play-link {
	display: block;
    width: 232px;
    height: 35px;
    opacity: 0.3;
    position: absolute;
    top: 471px;
    left: 514px;
}
.days-to-expire{
	display: block;
    padding: 3px 0;
    background: #e8b402;
    color: #FFF;
    width: 100px;
    font-size: 11px;
    line-height: 20px;
    margin: 0 0 15px 0;
    text-align: center;
}
.cover-box {
	width: 236px;
    height: 350px;
    float: left;
    margin-right: 20px;
}
.cover-box .cover {
    margin-right: 0;
}
.section-tv li {
	position:relative;
}
.home-epg-now-link {
	display: block;
    width: 473px;
    height: 100px;
    opacity: 0;
    position: absolute;
    top: 171px;
    left: 4px;
}
.home-epg-full-link {
	display: block;
    width: 470px;
    height: 100px;
    opacity: 0;
    position: absolute;
    top: 171px;
    left: 490px;
}
.home-channel-link {
	width: 880px;
    height: 132px;
    opacity: 0;
    position: absolute;
    top: 334px;
    left: 40px;
    background: #FFF;
}
.placard-icons {
	display: none;
	opacity:0;
    position: absolute;
    bottom: 3px;
    right: 14px;
}
.show:hover .placard-icons {
	display: block;
	opacity:1;
}
.placard-icons li {
	display:block;
	float:left;
	width:20px;
	margin:0 0 0 10px;
}
.placard-icon {
	display:block;
}
.show:hover .placard-icon {
	display:block;
	color:#999 !important;
	-webkit-transition: color .3s ease-in-out;
	-moz-transition: color .3s ease-in-out;
	-ms-transition: color .3s ease-in-out;
	-o-transition: color .3s ease-in-out;
	transition: color .3s ease-in-out;
}
.placard-icon-play i {
	font-size: 26px;
	color:#f1f1f1 !important;
}
.show.vod .placard-icon-play i {
	font-size: 26px;
	color:#999 !important;
}
.placard-icon-play:hover i {
	color:#ccc !important;
	-webkit-transition: color .3s ease-in-out;
	-moz-transition: color .3s ease-in-out;
	-ms-transition: color .3s ease-in-out;
	-o-transition: color .3s ease-in-out;
	transition: color .3s ease-in-out;
}
.show.vod .placard-icon-play:hover i {
	color:#333 !important;
	-webkit-transition: color .3s ease-in-out;
	-moz-transition: color .3s ease-in-out;
	-ms-transition: color .3s ease-in-out;
	-o-transition: color .3s ease-in-out;
	transition: color .3s ease-in-out;
}

.placard-icon-record i {
	font-size: 18px;
	line-height:26px;
	color:#ec383a !important;
}
.placard-icon-record:hover i {
	color:#c21e1e !important;
	-webkit-transition: color .3s ease-in-out;
	-moz-transition: color .3s ease-in-out;
	-ms-transition: color .3s ease-in-out;
	-o-transition: color .3s ease-in-out;
	transition: color .3s ease-in-out;
}
